
.logowanie {
    display: block;
    text-align: center;
    width: 100px; 
}


.hiddenLoging {
    display: none;
}

.poleOk {
    background-color: #8af671;
}

div #formComment {
    font-size: 10pt;
    color: red;
}

