div .printedtwit {
    display: block;
    background-color: #c4e3f3;
    max-width: 600px;
}

.logowanie {
    margin-left: auto;
    margin-right: auto;
    
    display: block;
    text-align: center;
    width: 100px; 
    
}

#formComment {
     width: 200px;
     text-align: left;
}


.hiddenLoging {
    display: none;
}

.poleOk {
    background-color: #8af671;
}

div #formComment {
    font-size: 10pt;
    color: red;
}

div.defaultBody {
    
    background-color: maroon;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
   
}

#logedInH{
    background-color: #d8b8b8;
    min-height: 50px;
    padding: 7px;
    vertical-align: middle;
}

#left{
    float: left;
    background-color: #d8b8b8;
    width: 200px;
    min-height: 1000px;
}

#center{
    float: left;
    background-color: #cfcfda;
    width: 600px;
    height: 1000px;
}

#right{
    float: left;
    background-color: #bea0a7;
    width: 200px;
    min-height: 1000px;
}

#foohter {
    clear: both;
    background-color: #bea0a7;
    min-height: 70px;
}

.textArea {
    width: 600px;
}

.myButton {
    float: right;
    position: relative;
    right: 10px;
}

#message2friend {
    position: relative;
    width: 400px;
    bottom: 400px;
}

.purple_col {
    color: purple;
}

.marrow_col {
    color: crimson;
}




